<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка 404</title>
</head>
<body>
    <h1>Ой, ошибка 404</h1>
    <p>На своей последней ссылке вы повернули налево, а не направо?</p>
    <p>Нет проблем. Вот несколько советов, которые вернут вас на верную дорогу:</p>
    <ul>
        <li>Если вы набрали адрес вручную, проверьте его корректность. Возможно, это просто опечатка.</li>
        <li>Если вы нашли проблему с одним из наших веб-сайтов, мы будем признательны, если вы могли бы сообщить о проблеме по почте: <a href="mailto:lev_bariakh@icloud.com">lev_bariakh@icloud.com</a></li>
        <li>Если вы проследовали по ссылке, то, вероятно, она сломана. Сообщите нам об этом по почте: <a href="mailto:lev_bariakh@icloud.com">lev_bariakh@icloud.com</a></li>m</li>
        <li>Если вы не уверены, что вы ищете, начните на с главной страницы <a href="https://lev2k.ru">lev2k.ru</a></li>
    </ul>
</body>
</html>