{% extends "base.html" %}
{% load static %}
{% block title %}Обо мне{% endblock %}
{% block about_tab_active %}active{% endblock %}
{% block page_content %}

<div class="col-md-20">
    <h1>Обо мне</h1>
    <br>
    <h5>БИО</h5>
    <p>Я Лев. Junior-Midle Python разработчик. Я изучаю Python с лета 2021 года. Я умею работать с aiogram (создание telegram ботов), django (создание сайтов). Также я создавал user-ботов для telegram, делал оплату через qiwi, немного знаю Swift JavaScrip, HTML, CSS, умею регистрировать и настраивать домены + подключать <a href="https://ru.wikipedia.org/wiki/SSL">ssl</a> сертификат. Из бд умею работать с postgreSQL и SQLite</p>
    <br>
    <h5>Технологии с которыми я работал</h5>
    <p>aiogram, pytelegrambotapi, pyrogram, nginx, docker, dokcer-compose, django, qiwi api, postgresql, sqlite, pewee ORM</p>
    <br>
    <h5>Фриланс биржи</h5>
    <p><a href="https://kwork.ru/user/ms_lev">Kwork</a></p>
    <br>
    <h5>Контакты</h5>
    <p><a href="https://github.com/lev007-ops">GitHub</a>, <a href="tel:+79027996952">Телефон</a>, <a href="https://t.me/lev_man">Telegram</a>, <a href="mailto:lev_bariakh@icloud.com">e-mail</a></p>
</div>
{% endblock %}