{% extends "base.html" %}
{% load static %}
{% block title %}Все проекты{% endblock %}
{% block home_tab_active %}active{% endblock %}
{% block description %}Портфолио Lev Bariakh{% endblock description %}
{% block page_content %}
<h1>Проекты</h1>
<br>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <a href="{% url 'project_detail' project.pk %}"><img class="card-img-top" src="{{ project.image.url }}"></a>
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description|urlizetrunc:15 }}</p>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}