{% extends "base.html" %}
{% load static %}

{% block title %}{{ project.title }}{% endblock %}
{% block home_tab_active %}active{% endblock %}
{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{{ project.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>О проекте:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Использованные технологии</h5>
        <p>{{ project.technology }}</p>
        {% if project.github_link %}
        <h5>GitHub проекта</h5>
        <p><a href="{{ project.github_link }}">{{ project.github_link }}</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}